@font-face {
  font-family: "iconfont"; /* Project id 4353663 */
  src: url('iconfont.woff2?t=1701351365073') format('woff2'),
       url('iconfont.woff?t=1701351365073') format('woff'),
       url('iconfont.ttf?t=1701351365073') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linux1:before {
  content: "\e92f";
}

.icon-npmjs-line:before {
  content: "\e7b6";
}

.icon-linux:before {
  content: "\e608";
}

.icon-npm:before {
  content: "\e74e";
}

.icon-github:before {
  content: "\e66f";
}

.icon-nginx:before {
  content: "\ec30";
}

